body{
    height: 300vh; /* Para permitir el scroll */
    background-color: #000033; /* Azul oscuro */
    transition: background-color 0.5s ease;
    color: aliceblue;
    max-width: 700px; /* Define un ancho máximo */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 20px; /* Espaciado interno */
    max-width: 700px;

}

.banner, .about {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}


h1 {
    color: yellow;
    font-size: 30px;
}

.fa-brands, .fa-solid {
    font-size: 20px;
}

.workflow {
    align-items: center;
    padding: 20px;
}

.year {
    float: right;
}
.indianwebs {
    margin-bottom: 10px;
}

.copen {
    margin-top: 20px;
}
.icons
{
    padding: 10px;
}

.proyects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 columnas iguales */
    grid-template-rows: minmax(200px, 300px) minmax(200px, 300px);
    gap: 10px; /* Espaciado entre elementos */
}

.proyect {
    border: 1px solid white;
    border-radius: 10px;
}

.icons-lenguaje i{
    padding: 10px;
    width: 100px;
}

.custom-icon {
    padding: auto;
    font-size: 70px;
}
