body {
    font-family: 'Lato';
    background-color: #f7faff;

}

.barra {
    margin-bottom: 50px;
}
.info {
    margin-top: 20px;
    background-color: #231557;
    color: #f7faff;
    height: 300px;
    align-items: center;    
}
.name
{
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #ce5709 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}


@keyframes textclip {
  to {
    background-position: 200% center;
  }
}